body {
  margin: 0;
  font-family: mplus2-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-primary-rgb: 	61,54,109;
  --bs-primary: #3d366d;;
}

@font-face {
  font-family: mplus2-regular;
  src: url(/src/assests/fonts/MPLUS2-Regular.ttf) format('opentype');
}

@font-face {
  font-family: play-bold;
  src: url(/src/assests/fonts/Play-Bold.ttf) format('opentype');
}